h3 {
    font-family: 'Acme', sans-serif;
    font-size: 22px;
    color: #f8b700;
    padding: 20px;
  }


#playerGrave {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

  }

#enemyGrave {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

  }
  
  .playerGravePop, .enemyGravePop {
    display: none;
    position: fixed;
    top: 10.3%;
    left: 10.3%;
    width: 80%;
    height: 80%;
    background: #2a3644;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    outline: 10px solid rgba(0, 0, 0, 0.1);
  }
  .playerGravePop > h1, .enemyGravePop > h1 {
    padding: 30px 30px 10px 30px;
    color: #2a3644;
    font-size: 100%;
  }
  .playerGravePop > p, .enemyGravePop > p {
    padding-left: 30px;
    font-size: 100%;
    color: #777777;
  }
  .playerGravePop > span, .enemyGravePop > span {
    cursor: pointer;
    position: absolute;
    top: 4%;
    right: 4%;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: red;
    color: #ffffff;
    padding: 7px 0px 0px 16px;
    width: 30px;
    height: 30px;
  }
  

  .playerGravePop div, .enemyGravePop div {
    width: 220px;
    padding: 0 10px 0 20px;
    background-color: #211510;
  }
  
  .playerGravePop a:hover div, .enemyGravePop a:hover div {
    background-color: #3c1d3d;
  }
  
  .playerGravePop h3, .enemyGravePop h3  {
    font-family: 'Acme', sans-serif;
    font-size: 22px;
    color: #f8b700;
    padding: 12px 0 4px;
  }
  
  .playerGravePop p, .enemyGravePop p {
    font-family: arial;
    font-size: 12px;
    color: #d5c8af;
    line-height: 20px;
  }

  .playerGravePop a, .enemyGravePop a {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .playerGravePop img, .enemyGravePop img {
    width: 180px;
    height: 180px;
  }
  
  .img-avatar {
    width: 180px !important;
    height: 180px !important;
  }